<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <template id="external_layout_standard" inherit_id="web.external_layout_standard">
        <xpath expr="//div[@t-field='company.partner_id']" position="replace">
            <div style="display:block">
                <div t-if="o and o._name == 'account.move' and o.journal_id and o.journal_id.code == 'INVE'">
                    <h5 style="margin-bottom:0;display:block;line-height:1.1em;">Exportador</h5>
                </div>
                <div>
                    <span class="text-uppercase" t-field="company.name"/>
                </div>
                <div style="font-size:0.9em;">
                    <div t-if="company.company_registry">
                        NIF: <span t-field="company.company_registry"/> <br/>
                    </div>
                    <div t-if="company.street">
                        <span t-field="company.street"/> <br/>
                    </div>
                    <div t-if="company.street2">
                        <span t-field="company.street2"/> <br/>
                    </div>
                    <div t-if="company.city or company.zip or company.state_id or company.country_id">
                        <span t-field="company.city"/>
                        <t t-if="company.zip">
                            - <span t-field="company.zip"/>
                        </t>
                        <t t-if="company.state_id">
                            - <span t-field="company.state_id.name"/>
                        </t>
                        <t t-if="company.country_id">
                            - <span t-field="company.country_id.name"/>
                        </t>
                    </div>
                </div>
            </div>
        </xpath>

        <xpath expr="//li[@t-if='company.email']/span[@t-field='company.email']" position="replace">
            <t t-if="o and o._name == 'account.move'">
                invoicing@tetrace.com
            </t>
            <t t-if="not o or o._name != 'account.move'">
                <span t-field="company.email"/>
            </t>
        </xpath>
    </template>

    <template id="argentinian_extra_info" inherit_id="l10n_ar.argentinian_extra_info">
        <xpath expr="//li[2]" position="attributes">
            <attribute name="style">display:none</attribute>
        </xpath>
    </template>
</odoo>
