<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <template id="external_layout_standard" inherit_id="web.external_layout_standard">
        <xpath expr="//div[@t-field='company.partner_id']" position="replace">
            <div>
                <h4>Exportador</h4>
            </div>
            <div>
                <span class="text-uppercase" t-field="company.name"/>
            </div>
            <div t-if="company.company_registry">
                NIF: <span t-field="company.company_registry"/> <br/>
            </div>
            <div t-if="company.street">
                <span t-field="company.street"/> <br/>
            </div>
            <div t-if="company.street2">
                <span t-field="company.street2"/> <br/>
            </div>
            <div t-if="company.zip">
                <span t-field="company.zip"/>
            </div>
            <div t-if="company.city">
                <span t-field="company.city"/>
                <t t-if="company.state_id">
                    - <span t-field="company.state_id.name"/>
                </t>
            </div>
            <div t-if="company.country_id">
                <span t-field="company.country_id.name"/>
            </div>
        </xpath>
    </template>

    <template id="argentinian_extra_info" inherit_id="l10n_ar.argentinian_extra_info">
        <xpath expr="//li[2]" position="attributes">
            <attribute name="style">display:none</attribute>
        </xpath>
    </template>
</odoo>
