
.o_home_menu_background{
    background-image: url(/tetrace/static/src/img/tetrace-home-menu-bg-overlay.png), linear-gradient(to right bottom, #77717e, #c9a8a9);
    background-size: auto;
    background-repeat: no-repeat;
    background-position:left top;
    background-attachment: fixed;
}
