
.btn-registro-hora{
    cursor: pointer;
    margin: 0.1em 0 0.1em;
    padding: 10px 22px;
    border-radius: 1em;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
}

.dx-field-label{
    width: 30%!important;
}

.dx-field-value-static,
.dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button){
    width: 70%!important;
}
